ul {
  list-style-type: none;
}

li {
  margin-bottom: 1.5rem;
}
.product {
  padding: 2rem;
}

.back-to-result {
  padding: 1rem;
  font-weight: bold;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.details-img {
  flex: 2 1 20rem;
}
.details-img img {
  max-width: 60rem;
  widows: 100%;
}

.details-info {
  flex: 1 1 30rem;
}

.details-action {
  flex: 1 1 30rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  padding: 1rem;
  max-width: 350px;
}
