.header {
  display: flex;
  grid-area: header;
  background-color: #203040;
  color: #ffff;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

.brand a {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.brand a:hover {
  color: aqua;
}

.header-link {
  color: #ffffff !important;
  text-decoration: none;
  list-style-type: none;
  padding-right: 0.5rem;
}
.header-link :hover {
  color: aqua !important;
}
